
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Meta Mate | Exploring the Wonders of Science and Technology</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.cO" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="apple-touch-icon" sizes="120x120" href="/public/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon-16x16.png">
	<link rel="manifest" href="/public/files/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Prata" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/public/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/public/css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="/public/css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/public/css/bootstrap.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/public/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
	<!-- Style -->
	<link rel="stylesheet" href="/public/css/style.css">


	<!-- Modernizr JS -->
	<script src="/public/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/public/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<header role="banner" id="fh5co-header">
		
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="index.html">
						<img class="logo" src="/public/images/logo-metamate.png"/>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="about"><span>About</span></a></li>
						<!-- <li><a href="#" data-nav-section="practice-areas"><span>Practice Areas</span></a></li> -->
						<!-- <li><a href="#" data-nav-section="testimony"><span>Testimonial</span></a></li> -->
						<li><a href="#" data-nav-section="services"><span>Services</span></a></li>
						<!-- <li><a href="#" data-nav-section="team"><span>Lawyers</span></a></li> -->
						<li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
					</ul>
				</div>
			</div>
		</nav>
 
	</header>

	<section id="fh5co-home" data-section="home" style="background-image: url(/public/images/full_image_3.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 to-animate">
							<h1>Exploring the Wonders of Science and Technology</h1>
							<h2>Engineering solutions</h2>
							<!-- <div class="call-to-action">
								<a href="#" class="download">Need a legal advice?</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-about" data-section="about">
		<div class="container">

			<div class="row">
				<div class="col-md-7 col-md-pull-1">
					<img src="/public/images/aboutUs.jpg" class="img-shadow img-responsive" alt="Free HTML5 Bootstrap Template">
				</div>
				<div class="col-md-5">
					<h2>About Us</h2>
					<p class="lead">The mission of Meta-Mate Limited is to work for the incorporation of professional methods
						specializing in engineering-related aspects of projects through providing high quality
						services to its customers while acting as a creative and result-oriented organization that puts
						personal satisfaction of its clientele in line with the industry standards above all other features.</p>
					<p class="lead">Meta Mate offers the comprehensive capabilities and deep industry knowledge necessary to help you solve the most complex issues of your organization. Since opening our doors in 2019, we’re proud to say that each year we have a bigger list of returning and new clients.</p>
					<p class="lead">Want to experience the expertise of Meta Mate for yourself? Give us a call today and let’s discuss what we can do for you.</p>
				</div>
			</div>

		</div>
	</section>

	<section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Services</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Backed by a previous experiences, our strategic services meet the needs of all types and sizes of clients - from small startups to large firms - and deliver lasting changes with measurable growth. Please get in touch with us today to learn how Meta Mate can help your future success. </h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>ENGINEERING CONSULTATION</h3>
								<p>Looking to develop your business but not sure where to turn? Need help planning or executing your next project? Let us guide you. Any organization can move forward with small incremental changes, but building for the future in today’s rapidly evolving environment means taking bold chances and making insightful decisions.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>SCIENTIFIC & DATA ANALYSIS</h3>
								<p>We examine what organizations are doing to stay relevant and competitive in this fast-paced world, and which ones are doing it best. We then strategize using smart tools and global resources in order to understand the implications of every choice our clients can make. Get in touch to learn more about how this service can help you.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-services">
							<i class="icon-shield to-animate-2"></i>
							<div class="fh5co-post to-animate">
								<h3>STRATEGIC PLANNING SESSION</h3>
								<p>With years of experience, Meta Mate has the capabilities and expertise to take your business to the next level. At Meta Mate, we combine our insights and skills to transform your processes and strategies, and in turn, your company. We’re proud to help shape and improve how our clients structure and manage their business.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

	<!-- <section id="fh5co-team" data-section="team">
		<div class="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate">Meet The Lawyers</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/public/images/person4.jpg" alt="Roger Garfield"></div>
							<h3>Roger Garfield</h3>
							<span class="position">Lawyer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/public/images/person2.jpg" alt="Roger Garfield"></div>
							<h3>Kevin Steve</h3>
							<span class="position">Lawyer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="/public/images/person3.jpg" alt="Roger Garfield"></div>
							<h3>Ross Standford</h3>
							<span class="position">Lawyer</span>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							<ul class="social-media">
								<li><a href="#" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="#" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="#" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="#" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="#" class="github"><i class="icon-github-alt"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->


	<section id="fh5co-footer" data-section="contact" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Mission</h3>
					<p>The mission of Meta-Mate Limited is to work for the incorporation of professional methods
						specializing in engineering-related aspects of projects through providing high quality
						services to its customers while acting as a creative and result-oriented organization that puts
						personal satisfaction of its clientele in line with the industry standards above all other features.</p>
					<p class="copy-right">&copy; 2019 Meta Mate LTD. <br>All Rights Reserved.</p>
				</div>

				<div class="col-md-4 to-animate">
					<h3 class="section-title">Our Address</h3>
					<ul class="contact-info">
						<li><i class="icon-map-marker"></i>220 Gunnersbury Aveneue, London, W3 8LB</li>
						<li><i class="icon-phone"></i>(+44) 7535 022111</li>
						<li><i class="icon-envelope"></i><a href="#">metamateconsultancy@gmail.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.metamate.co.uk</a></li>
					</ul>
					<h3 class="section-title">Connect with Us</h3>
					<ul class="social-media">
						<li><a target="_blank" href="https://www.linkedin.com/company/metamate-ltd" class="linkedin"><i class="icon-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Drop us a line</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	
	<div id="map" class="fh5co-map"></div>

	
	<!-- jQuery -->
	<script src="/public/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/public/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/public/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/public/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="/public/js/jquery.stellar.min.js"></script>
	<!-- Owl Carousel -->
	<script src="/public/js/owl.carousel.min.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/public/js/google_map.js"></script>
	<!-- Main JS (Do not remove) -->
	<script src="/public/js/main.js"></script>

	</body>
</html>

